<div class="horizontal-flex full-height">

    <div class="article mobile-article-small mobile-article-small-height flex-item">
        <div class="article-title">
            <span>{{app.text('payments', 'shop')}}</span>
            <div class="horizontal-flex flex-item flex-end">
                <button class="new-button" (click)="shop.initSelection(); shop.newPayment()"
                        [ngClass]="{active:(shop.currentPayment && !shop.currentPayment.id)}">
                    {{app.text('new', 'shop')}}
                </button>
            </div>
        </div>
        <div class="article-content">
            <div class="list-selection" *ngIf="app.data.table('payment').length">
                <div class="list-item" *ngFor="let payment of app.data.table('payment')"
                     (dblclick)="shop.initSelection(); shop.currentPayment = payment;"
                     [ngClass]="{active:(shop.currentPayment == payment)}">
                    <div><span> {{(payment.name || payment.id)}}</span></div>
                    <button class="delete-button" (click)="shop.removePayment(payment)">
                        {{app.text('delete', 'shop')}}
                    </button>
                </div>
            </div>
            <div class="info-box" *ngIf="!app.data.table('payment').length">
                <b><i>{{app.text('no_payments', 'shop')}}</i></b>
                <button (click)="shop.initSelection(); shop.newPayment()"
                        [ngClass]="{active:(shop.currentPayment && !shop.currentPayment.id)}"
                >
                    {{app.text('new_payment', 'shop')}}
                    <div class="icon-new"></div>
                </button>
            </div>
        </div>
    </div>

    <div class="article mobile-article-small mobile-article-small-height flex-item">
        <div class="article-title">
            <span>{{app.text('currency', 'shop')}}</span>
            <div class="horizontal-flex flex-item flex-end">
                <button class="new-button" (click)="shop.initSelection(); shop.newCurrency()"
                        [ngClass]="{active:(shop.currentCurrency && !shop.currentCurrency.id)}"
                >
                    {{app.text('new', 'shop')}}
                </button>
            </div>
        </div>
        <div class="article-content">
            <div class="list-selection" *ngIf="app.data.table('currency').length">
                <div class="list-item" *ngFor="let currency of app.data.table('currency')"
                     (dblclick)="shop.initSelection(); shop.currentCurrency = currency;"
                     [ngClass]="{active:(shop.currentCurrency == currency)}">
                    <div><span> {{(currency.name || currency.id)}}</span></div>
                    <button class="delete-button" (click)="shop.removeCurrency(currency)">
                        {{app.text('delete', 'shop')}}
                    </button>
                </div>
            </div>
            <div class="info-box" *ngIf="!app.data.table('currency').length">
                <b><i>{{app.text('no_currencies', 'shop')}}</i></b>
                <button (click)="shop.initSelection(); shop.newCurrency()"
                        [ngClass]="{active:(shop.currentCurrency && !shop.currentCurrency.id)}"
                >
                    {{app.text('new_currency', 'shop')}}
                    <div class="icon-new"></div>
                </button>
            </div>
        </div>
    </div>

    <div class="article mobile-article-small mobile-article-small-height flex-item">
        <div class="article-title">
            <span>{{app.text('taxes', 'shop')}}</span>
            <div class="horizontal-flex flex-item flex-end">
                <button class="new-button" (click)="shop.initSelection(); shop.newTax()"
                        [ngClass]="{active:(shop.currentTax && !shop.currentTax.id)}">
                    {{app.text('new', 'shop')}}
                </button>
            </div>
        </div>
        <div class="article-content">
            <div class="list-selection">
                <div class="list-item" *ngFor="let tax of app.data.table('tax')"
                     (dblclick)="shop.initSelection(); shop.currentTax = tax;"
                     [ngClass]="{active:(shop.currentTax == tax)}">
                    <div><span> {{(tax.name || tax.id)}}</span></div>
                    <button class="delete-button" (click)="shop.removeTax(tax)">
                        {{app.text('delete', 'shop')}}
                    </button>
                </div>
            </div>
            <div class="info-box" *ngIf="!app.data.table('tax').length">
                <b><i>{{app.text('no_taxes', 'shop')}}</i></b>
                <button (click)="shop.initSelection(); shop.newTax()"
                        [ngClass]="{active:(shop.currentTax && !shop.currentTax.id)}"
                >
                    {{app.text('new_tax', 'shop')}}
                    <div class="icon-new"></div>
                </button>
            </div>
        </div>
    </div>

    <div class="article mobile-article-small mobile-article-small-height flex-item">
        <div class="article-title">
            <span>{{app.text('shipping_types', 'shop')}}</span>
            <div class="horizontal-flex flex-item flex-end">
                <button class="new-button" (click)="shop.initSelection(); shop.newShipping()"
                        [ngClass]="{active:(shop.currentShipping && !shop.currentShipping.id)}">
                    {{app.text('new', 'shop')}}
                </button>
            </div>
        </div>
        <div class="article-content">
            <div class="list-selection" *ngIf="app.data.table('shipping').length">
                <div class="list-item" *ngFor="let shipping of app.data.table('shipping')"
                     (dblclick)="shop.initSelection(); shop.currentShipping = shipping;"
                     [ngClass]="{active:(shop.currentShipping == shipping)}">
                    <div><span> {{(shipping.name || shipping.id)}}</span></div>
                    <button class="delete-button" (click)="shop.removeShipping(shipping)">
                        {{app.text('delete', 'shop')}}
                    </button>
                </div>
            </div>
            <div class="info-box" *ngIf="!app.data.table('shipping').length">
                <b><i>{{app.text('no_shipping', 'shop')}}</i></b>
                <button (click)="shop.initSelection(); shop.newShipping()"
                        [ngClass]="{active:(shop.currentShipping && !shop.currentShipping.id)}"
                >
                    {{app.text('new_shipping', 'shop')}}
                    <div class="icon-new"></div>
                </button>
            </div>
        </div>
    </div>

    <div class="article mobile-article-small mobile-article-small-height flex-item">
        <div class="article-title">
            <span>{{app.text('manufacturer', 'shop')}}</span>
            <div class="horizontal-flex flex-item flex-end">
                <button class="new-button" (click)="shop.initSelection(); shop.newManufacturer()"
                        [ngClass]="{active:(shop.currentManufacturer && !shop.currentManufacturer.id)}">
                    {{app.text('new', 'shop')}}
                </button>
            </div>
        </div>
        <div class="article-content">
            <div class="list-selection">
                <div class="list-item" *ngFor="let manufacturer of app.data.table('manufacturer')"
                     (dblclick)="shop.initSelection(); shop.currentManufacturer = manufacturer;"
                     [ngClass]="{active:(shop.currentManufacturer == manufacturer)}">
                    <div><span> {{(manufacturer.name || manufacturer.id)}}</span></div>
                    <button class="delete-button" (click)="shop.removePayment(manufacturer)">
                        {{app.text('delete', 'shop')}}
                    </button>
                </div>
            </div>
            <div class="info-box" *ngIf="!app.data.table('manufacturer').length">
                <b><i>{{app.text('no_manufacturers', 'shop')}}</i></b>
                <button (click)="shop.initSelection(); shop.newManufacturer()"
                        [ngClass]="{active:(shop.currentManufacturer && !shop.currentManufacturer.id)}"
                >
                    {{app.text('new_manufacturer', 'shop')}}
                    <div class="icon-new"></div>
                </button>
            </div>
        </div>
    </div>

    <div class="article mobile-article-small mobile-article-small-height flex-item">
        <div class="article-title">
            <span>{{app.text('discounts', 'shop')}}</span>
            <div class="horizontal-flex flex-item flex-end">
                <button class="new-button" (click)="shop.initSelection(); shop.newDiscount()"
                        [ngClass]="{active:(shop.currentDiscount && !shop.currentDiscount.id)}"
                >
                    {{app.text('new', 'shop')}}
                </button>
            </div>
        </div>
        <div class="article-content">
            <div class="list-selection" *ngIf="app.data.table('discount').length">
                <div class="list-item" *ngFor="let discount of app.data.table('discount')"
                     (dblclick)="shop.initSelection(); shop.currentDiscount = discount;"
                     [ngClass]="{active:(shop.currentDiscount == discount)}">
                    <div><span> {{(discount.name || discount.id)}}</span></div>
                    <button class="delete-button" (click)="shop.removeDiscount(discount)">
                        {{app.text('delete', 'shop')}}
                    </button>
                </div>
            </div>
            <div class="info-box" *ngIf="!app.data.table('discount').length">
                <b><i>{{app.text('no_discounts', 'shop')}}</i></b>
                <button (click)="shop.initSelection(); shop.newDiscount()"
                        [ngClass]="{active:(shop.currentDiscount && !shop.currentDiscount.id)}"
                >
                    {{app.text('new_discount', 'shop')}}
                    <div class="icon-new"></div>
                </button>
            </div>
        </div>
    </div>

</div>

<div class="popup-overlay layout-{{app.popupLayout}}" [ngClass]="{active:(shop.currentCurrency)}">
    <div class="popup-container" *ngIf="shop.currentCurrency">
        <div class="popup-header">
            <h3>{{app.text('currency', 'shop')}}</h3>
            <app-popup-options></app-popup-options>
            <button class="close-button" (click)="shop.currentCurrency = null"></button>
        </div>
        <div class="popup-content">
            <app-data-editor [fileCategory]="'shop'" [hiddenFields]="['type']" [data]="shop.currentCurrency"></app-data-editor>
        </div>
        <div class="popup-footer">
            <button class="save-button"
                    (click)="shop.updateOrAddCurrency(shop.currentCurrency); shop.currentCurrency = null;"
                    [ngClass]="{inactive:(shop.updating)}">{{app.text('save')}}
            </button>
        </div>
    </div>
</div>

<div class="popup-overlay layout-{{app.popupLayout}}" [ngClass]="{active:(shop.currentPayment)}">
    <div class="popup-container" *ngIf="shop.currentPayment">
        <div class="popup-header">
            <h3>{{app.text('payment', 'shop')}}</h3>
            <app-popup-options></app-popup-options>
            <button class="close-button" (click)="shop.currentPayment = null"></button>
        </div>
        <div class="popup-content">
            <app-data-editor [fieldOptions]="{
            type: {name: 'type', type: 'select', data: shop.paymentTypes},
            discountId: {name: 'discount', type: 'select', tableName: 'discount'}
            }"  [fileCategory]="'shop'" [hiddenFields]="[]" [data]="shop.currentPayment"></app-data-editor>
        </div>
        <div class="popup-footer">
            <button class="save-button"
                    (click)="shop.updateOrAddPayment(shop.currentPayment); shop.currentPayment = null;"
                    [ngClass]="{inactive:(shop.updating)}">{{app.text('save')}}
            </button>
        </div>
    </div>
</div>

<div class="popup-overlay layout-{{app.popupLayout}}" [ngClass]="{active:(shop.currentShipping)}">
    <div class="popup-container" *ngIf="shop.currentShipping">
        <div class="popup-header">
            <h3>{{app.text('shipping', 'shop')}}</h3>
            <app-popup-options></app-popup-options>
            <button class="close-button" (click)="shop.currentShipping = null"></button>
        </div>
        <div class="popup-content">
            <app-data-editor [fileCategory]="'shop'" [hiddenFields]="['type']" [data]="shop.currentShipping"></app-data-editor>
        </div>
        <div class="popup-footer">
            <button class="save-button"
                    (click)="shop.updateOrAddShipping(shop.currentShipping); shop.currentShipping = null;"
                    [ngClass]="{inactive:(shop.updating)}">{{app.text('save')}}
            </button>
        </div>
    </div>
</div>

<div class="popup-overlay layout-{{app.popupLayout}}" [ngClass]="{active:(shop.currentTax)}">
    <div class="popup-container" *ngIf="shop.currentTax">
        <div class="popup-header">
            <h3>{{app.text('tax', 'shop')}}</h3>
            <app-popup-options></app-popup-options>
            <button class="close-button" (click)="shop.currentTax = null"></button>
        </div>
        <div class="popup-content">
            <app-data-editor [fileCategory]="'shop'" [hiddenFields]="['type']" [data]="shop.currentTax"></app-data-editor>
        </div>
        <div class="popup-footer">
            <button class="save-button"
                    (click)="shop.updateOrAddTax(shop.currentTax); shop.currentTax = null;"
                    [ngClass]="{inactive:(shop.updating)}">{{app.text('save')}}
            </button>
        </div>
    </div>
</div>

<div class="popup-overlay layout-{{app.popupLayout}}" [ngClass]="{active:(shop.currentDiscount)}">
    <div class="popup-container" *ngIf="shop.currentDiscount">
        <div class="popup-header">
            <h3>{{app.text('discount', 'shop')}}</h3>
            <app-popup-options></app-popup-options>
            <button class="close-button" (click)="shop.currentDiscount = null"></button>
        </div>
        <div class="popup-content">
            <app-data-editor [fileCategory]="'shop'" [hiddenFields]="['type']" [data]="shop.currentDiscount"></app-data-editor>
        </div>
        <div class="popup-footer">
            <button class="save-button"
                    (click)="shop.updateOrAddDiscount(shop.currentDiscount); shop.currentDiscount = null;"
                    [ngClass]="{inactive:(shop.updating)}">{{app.text('save')}}
            </button>
        </div>
    </div>
</div>

<div class="popup-overlay layout-{{app.popupLayout}}" [ngClass]="{active:(shop.currentManufacturer)}">
    <div class="popup-container" *ngIf="shop.currentManufacturer">
        <div class="popup-header">
            <h3>{{app.text('manufacturer', 'shop')}}</h3>
            <app-popup-options></app-popup-options>
            <button class="close-button" (click)="shop.currentManufacturer = null"></button>
        </div>
        <div class="popup-content">
            <app-data-editor [hiddenFields]="['type']" [data]="shop.currentManufacturer"></app-data-editor>
        </div>
        <div class="popup-footer">
            <button class="save-button"
                    (click)="shop.updateOrAddManufacturer(shop.currentManufacturer); shop.currentManufacturer = null;"
                    [ngClass]="{inactive:(shop.updating)}">{{app.text('save')}}
            </button>
        </div>
    </div>
</div>


