<div class="horizontal-flex full-height layout-{{layout}}" *ngIf="shop.ready && shop.register.ready">
    <app-mobile-navigation class="full-width" [items]="[
    {name: 'product_types' , visible:(app.data.table('product-type').length !== 0)},
    {name: 'product_categories' , visible:(app.data.table('product-category').length !== 0)},
    {name: 'product_groups' , visible:(app.data.table('product-group').length !== 0)},
    {name: 'select_products', visible:true }
    ]"></app-mobile-navigation>
    <div class="article full mobile-article-small mobile-tab-content" *ngIf="app.data.table('product-type').length"
         [ngClass]="{'mobile-active':(app.currentMobileTab === 'product_types')}">
        <div class="article-title">
            <span>{{app.text('product_types', 'shop')}}</span>
            <app-mobile-navigation [closeButton]="true"></app-mobile-navigation>
        </div>
        <div class="article-content">
            <div class="list-selection">
                <div class="list-item" (click)="selectedType = null;"
                     [ngClass]="{active:(selectedType === null)}">
                    {{app.text('all_types', 'shop')}}
                </div>
                <div class="list-item" *ngFor="let type of app.data.table('product-type')"
                     (click)="selectType(type)"
                     (dblclick)="shop.initSelection(); shop.currentProductType = type;"
                     [ngClass]="{active:(selectedType === type)}">
                    <div><span>{{(type.name || type.id)}}</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="article full mobile-article-small mobile-tab-content" *ngIf="app.data.table('product-category').length"
         [ngClass]="{'mobile-active':(app.currentMobileTab === 'product_categories')}">
        <div class="article-title">
            <span>{{app.text('product_categories', 'shop')}}</span>
            <app-mobile-navigation [closeButton]="true"></app-mobile-navigation>
        </div>
        <div class="article-content">
            <div class="list-selection">
                <div class="list-item" (click)="selectedCategory = null; selectCategory()"
                     [ngClass]="{active:(selectedCategory === null)}">
                    {{app.text('all_categories', 'shop')}}
                </div>
                <div class="list-item" *ngFor="let category of app.data.table('product-category')"
                     (click)="selectCategory(category)"
                     (dblclick)="shop.initSelection(); shop.currentProductCategory = category;"
                     [ngClass]="{active:(selectedCategory === category)}">
                    <div><span>{{(category.name || category.id)}}</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="article full mobile-article-small mobile-tab-content" *ngIf="app.data.table('product-group').length"
         [ngClass]="{'mobile-active':(app.currentMobileTab === 'product_groups')}">
        <div class="article-title">
            <span>{{app.text('product_groups', 'shop')}}</span>
            <app-mobile-navigation [closeButton]="true"></app-mobile-navigation>
        </div>
        <div class="article-content">
            <div class="list-selection">
                <div class="list-item" (click)="selectedGroup = null; selectGroup()"
                     [ngClass]="{active:(selectedGroup == null)}">
                    {{app.text('all_groups', 'shop')}}
                </div>
                <div class="list-item" *ngFor="let group of app.data.table('product-group')"
                     (click)="selectGroup(group)" (dblclick)="shop.initSelection(); shop.currentProductGroup = group;"
                     [ngClass]="{active:(selectedGroup == group)}">
                    <div><span> {{(group.name || group.id)}}</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="article full flex-item mobile-tab-content"
         [ngClass]="{'mobile-active':(app.currentMobileTab === 'select_products')}">
        <div class="article-title">
            <span>{{app.text('select_products', 'shop')}}</span>
            <div class="horizontal-flex flex-item flex-end">
                <!-- <button *ngFor="let l of layouts" [ngClass]="{active:(l === layout)}"
                         (click)="layoutChange(l)">{{app.text('layout_' + l, 'shop')}}</button>-->
                <button class="edit-button" (click)="app.showPage('shop', 'products')">
                    {{app.text('edit', 'shop')}}
                </button>
                <app-mobile-navigation [closeButton]="true"></app-mobile-navigation>
            </div>
        </div>
        <div class="article-content">
            <div class="product-list list-selection product-selection product-count-{{products.length}}">
                <div class="list-item product-list-item"
                     (click)="shop.app.currentElement = null; shop.register.checkoutData = null; newIndividualProduct();"
                     [ngClass]="{active:(shop.register.individualProduct !== null)}">
                    <div class="product-image">
                        <img src="assets/svg/product.svg"/>
                    </div>
                    <div class="product-data">
                        {{app.text('custom_product', 'shop')}}
                    </div>
                </div>

                <div *ngIf="!products || !products.length" class="list-item product-list-item inactive">
                    <div class="product-data">
                        <b><i>{{app.text('no_products_available_for_selection', 'shop')}}</i></b>
                    </div>
                </div>

                <div class="list-item product-list-item" *ngFor="let product of products"
                     (click)="shop.register.addProduct(product)">
                    <div class="product-name">
                        <h3>{{(product.name || product.id)}}</h3>
                    </div>
                    <div class="product-image" *ngIf="product.imageId && product.imageId > 0">
                        <app-file-preview [file]="app.fileById(product.imageId)"></app-file-preview>
                    </div>
                    <div class="product-image" *ngIf="!product.imageId || product.imageId <= 0">
                        <app-barcode-generator *ngIf="product.itemNumber" [code]="product.itemNumber"
                                               [download]="false"></app-barcode-generator>
                    </div>
                    <div class="product-price">
                        <h2>{{app.helper.price(shop.productPrice(product).net, shop.productPrice(product).symbol)}}</h2>
                    </div>
                    <div class="product-options">
                        <button class="show-button" (click)="showProd(product, $event)">
                            {{app.text('show', 'shop')}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="article full flex-item">
        <div class="article-title">
            <span>{{app.text('cash_register', 'shop')}}</span>
            <div class="horizontal-flex flex-item flex-end mobile-hide">
                <app-change-user
                        (onShowSelection)="app.currentElement = null; shop.register.individualProduct = null; shop.register.checkoutData = null;"></app-change-user>
                <button class="config-button" (click)="app.showPage('cash', 'configuration')">
                    {{app.text('configuration', 'shop')}}
                </button>
                <button class="show-button"
                        (click)="shop.setLocalSettings('showRegisterProduct', !shop.localSettings.showRegisterProduct)"
                        [ngClass]="{active:(shop.localSettings.showRegisterProduct)}">
                    {{app.text('show_products', 'shop')}}
                </button>
            </div>
        </div>
        <div class="article-content" *ngIf="shop.register.registerProducts && shop.register.registerProducts.length">
            <div class="product-list list-result product-selection-result">
                <div class="list-item product-list-item active" *ngFor="let product of shop.register.registerProducts">
                    <div class="product-data">
                        <button class="delete-button"
                                (click)="shop.register.removeProduct(product)">{{app.text('remove', 'shop')}}</button>
                        <button class="add-button"
                                (click)="shop.register.addProduct(product)">{{app.text('add', 'shop')}}</button>
                        <span>{{shop.register.productAmount[product.id]}}x </span>
                        <span> {{(product.name || product.id)}}</span>
                        <span>
                            à {{app.helper.price(shop.productPrice(product).net, shop.productPrice(product).symbol)}}</span>
                        <span> = {{app.helper.price(shop.productPrice(product).gross, shop.productPrice(product).symbol)}}</span><br>
                        <div *ngIf="shop.register.price(product).tax">
                            <b>+ {{shop.register.price(product).tax.value}} %</b>
                            <span>{{shop.register.price(product).tax.name}}</span> <br>
                            <span> = {{app.helper.price(shop.productPrice(product).net, shop.productPrice(product).symbol)}}</span>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="article-content" *ngIf="!shop.register.registerProducts || !shop.register.registerProducts.length">
            <div class="info-box">
                <b><i>{{app.text('no_products_in_cash_register', 'shop')}}</i></b>
            </div>
        </div>

        <div class="article-footer">
            <button class="checkout-button"
                    [ngClass]="{inactive:(!shop.register.registerProducts || !shop.register.registerProducts.length),
                    active:(shop.register.checkoutData)}"
                    (click)="shop.register.checkout(); app.currentElement = null; shop.register.individualProduct = null;">

                <i>{{app.helper.price(shop.register.total.net, shop.register.currency.symbol)}}</i><br>
                <span>
                  {{app.text('pay', 'shop')}}
                </span>
            </button>
        </div>
    </div>
</div>


<div class="popup-overlay layout-{{app.popupLayout}}"
     [ngClass]="{active:(shop.register.individualProduct !== null)}">
    <div class="popup-container" *ngIf="shop.register.individualProduct !== null">
        <div class="popup-header">
            <h3>{{app.text('custom_product', 'shop')}}</h3>
            <app-popup-options></app-popup-options>
            <button class="close-button" (click)="shop.register.individualProduct = null">
                {{app.text('close', 'shop')}}
            </button>
        </div>
        <div class="popup-content">
            <app-individual-product [product]="shop.register.individualProduct"></app-individual-product>
        </div>
        <div class="popup-footer">
            <button class="checkout-button" (click)="addIndividualProduct()">
                {{app.text('checkout', 'shop')}}
            </button>
        </div>
    </div>
</div>


<div class="popup-overlay layout-{{app.popupLayout}}"
     [ngClass]="{active:(shop.register.checkoutData)}">
    <div class="popup-container" *ngIf="shop.register.checkoutData">
        <div class="popup-header">
            <h3>{{app.text('checkout', 'shop')}}</h3>
            <app-popup-options></app-popup-options>
            <button class="close-button" (click)="shop.register.checkoutData = null">
                {{app.text('close', 'shop')}}
            </button>
        </div>
        <div class="popup-content">
            <app-checkout-data [checkout]="shop.register.checkoutData" [showResult]="false"></app-checkout-data>
            <label>
                <span>+ {{app.text('tip', 'shop')}}  {{shop.register.currency.symbol}}</span>
                <input type="number" [(ngModel)]="shop.register.checkoutData.tip" (change)="shop.register.calculateTotalPrice()" (keyup)="shop.register.calculateTotalPrice()"/>
                <div class="horizontal-flex">
                    <button class="flex-item" *ngFor="let amount of tipAmounts"
                            (click)="shop.register.checkoutData.tip = amount; shop.register.calculateTotalPrice();"
                            [ngClass]="{active:(shop.register.checkoutData.tip >= amount)}"
                    >{{amount}} {{shop.register.currency.symbol}}
                    </button>
                </div>
            </label>
            <div class="horizontal-flex full-width">
                <h2><i>{{app.helper.price(shop.register.total.net, shop.register.currency.symbol)}}</i><br></h2>
            </div>
        </div>
        <div class="popup-footer">

            <button *ngFor="let payment of app.data.table('payment')" class="checkout-button"
                    [ngClass]="{inactive:(!shop.register.registerProducts || !shop.register.registerProducts.length)}"
                    (click)="shop.register.confirmCheckout(payment)">
                <span>

                    {{payment.name || payment.id}}
                </span>
            </button>
            <div class="app-hint" *ngIf="!app.data.table('payment').length">
                <p>{{app.text('no_payment_available', 'shop')}}</p>
                <button (click)="app.showPage('shop', 'configuration')">
                    {{app.text('configuration_page', 'shop')}}
                </button>
            </div>
        </div>
    </div>
</div>

<div class="popup-overlay layout-{{app.popupLayout}} mobile-hide"
     [ngClass]="{active:(shop.app.currentElement && shop.localSettings.showRegisterProduct && !shop.register.checkoutData)}">
    <div class="popup-container"
         *ngIf="shop.app.currentElement && shop.localSettings.showRegisterProduct && !shop.register.checkoutData">
        <div class="popup-header">
            <h3>{{shop.app.currentElement.name || shop.app.currentElement.id}}</h3>
            <app-popup-options></app-popup-options>
            <button class="close-button" (click)="shop.app.currentElement = null">
                {{app.text('close', 'shop')}}
            </button>
        </div>
        <div class="popup-content"
             *ngIf="shop.app.currentElement.id && shop.register.productAmount && shop.register.productAmount[shop.app.currentElement.id]">
            <app-product [layout]="'full'" [product]="shop.app.currentElement"
                         [amount]="shop.register.productAmount[shop.app.currentElement.id]" [edit]="true"
                         [cart]="false"></app-product>
        </div>
        <div class="popup-content"
             *ngIf="!shop.app.currentElement.id || !shop.register.productAmount || !shop.register.productAmount[shop.app.currentElement.id]">
            <app-product [layout]="'full'" [product]="shop.app.currentElement" [edit]="true"
                         [cart]="false"></app-product>
        </div>
    </div>
</div>
