<div class="horizontal-flex">
  <div class="article full flex-item">
    <div class="article-title">
        <span>{{app.text('manufacturer', 'shop')}}</span>
        <div class="horizontal-flex flex-item flex-end">
          <button class="new-button" (click)="shop.newManufacturer()"></button>
      </div>
    </div>
    <div class="article-content">
      <app-data-selection [tableName]="'manufacturer'" [data]="app.data.table('manufacturer')"
                          (onEntryEdit)="shop.currentProduct = $event;"></app-data-selection>
    </div>
  </div>
</div>

<div class="popup-overlay layout-{{app.popupLayout}}" [ngClass]="{active:(shop.currentManufacturer)}">
  <div class="popup-container" *ngIf="shop.currentManufacturer">
    <div class="popup-header">
      <h3>{{app.text('manufacturer', 'shop')}}</h3>
      <app-popup-options></app-popup-options>
      <button class="close-button" (click)="shop.currentManufacturer = null; shop.newProductValue = false;"></button>
    </div>
    <div class="popup-content">
      <app-data-editor [data]="shop.currentManufacturer"></app-data-editor>
    </div>
    <div class="popup-footer">
      <button class="save-button"
              (click)="shop.updateOrAddManufacturer(shop.currentManufacturer); shop.currentManufacturer = null;"
              [ngClass]="{inactive:(shop.updating)}">{{app.text('save')}}
      </button>
    </div>
  </div>
</div>
