<div class="horizontal-flex full-height">
    <div class="article full flex-item">
        <div class="article-title">
            <div class="horizontal-flex flex-item">

                <button (click)="app.showPage('cash', 'cash_register');">
                    <div class="horizontal-flex">
                        <div class="icon-cash-register"></div>
                        <div class="flex-item">{{app.text('back_to_cash_register', 'shop')}}</div>
                    </div>
                </button>
            </div>

            <div class="horizontal-flex flex-item">
                <label *ngIf="userSelection">
                    <select [(ngModel)]="userId" (change)="getResultData()">
                        <option [ngValue]="null">{{app.text('all_seller', 'shop')}}</option>
                        <option *ngFor="let id of availableUserIds" [ngValue]="id">
                            <span *ngIf="!app.userById(id).firstName && !app.userById(id).lastName">{{app.userById(id).login}}</span>
                            <span *ngIf="app.userById(id).firstName || app.userById(id).lastName">{{app.userById(id).firstName}} {{app.userById(id).lastName}}</span>
                        </option>
                    </select>
                </label>
                <label>
                    <input type="date" mwlFlatpickr
                           [(ngModel)]="startDate"
                           (ngModelChange)="setStartDate($event, true);"
                           [altInput]="true"
                           [convertModelValue]="true"
                           [defaultValue]="'today'">
                </label>
                <label>
                    <input type="date" mwlFlatpickr
                           [(ngModel)]="endDate"
                           (ngModelChange)="setEndDate($event);"
                           [altInput]="true"
                           [convertModelValue]="true"
                           [defaultValue]="'today'">
                </label>
                <label>
                    <button class="today-button" (click)="today()"
                            [ngClass]="{active:(startDate === todayStart && endDate === todayEnd)}">
                        <span>{{app.text('today', 'shop')}}</span>
                        <div class="icon-show"></div>
                    </button>
                </label>
            </div>
            <div class="horizontal-flex flex-item flex-end">
                <h3>{{data.length}} {{app.text('sales', 'shop')}}
                    = {{app.helper.price(totalAmount, shop.register.currency.symbol)}}</h3>
                <button class="save-button" (click)="exportTable()">
                    {{app.text('export', 'shop')}}
                </button>
                <button class="print-button" (click)="printTable()">
                    {{app.text('print', 'shop')}}
                </button>
            </div>
        </div>
        <div *ngIf="data && data.length" class="article-content" #tableElement>
            <app-checkout-table [data]="data" ></app-checkout-table>
        </div>
        <div *ngIf="!data || !data.length" class="article-content">
            <div class="info-box">
                <b><i>{{app.text('no_sells_in_period', 'shop')}}</i></b>
            </div>
        </div>
    </div>
</div>


<div class="popup-overlay layout-{{app.popupLayout}}"
     [ngClass]="{active:(app.currentElement)}">
    <div class="popup-container" *ngIf="app.currentElement">
        <div class="popup-header">
            <h3>{{app.text('product', 'shop')}}</h3>
            <app-popup-options></app-popup-options>
            <button class="close-button" (click)="app.currentElement = null">
                {{app.text('close', 'shop')}}
            </button>
        </div>
        <div class="popup-content">
            <app-product [layout]="'full'" [product]="app.currentElement" [edit]="true"
                         [cart]="false"></app-product>
        </div>
    </div>
</div>
