<div class="product layout-{{layout}}">
    <div class="product-header">
        <h3 *ngIf="product.name && product.name !== 'individual-product'">{{product.name}}</h3>
        <h3 *ngIf="product.name && product.name === 'individual-product'">
            {{app.text(product.name, 'shop')}}
        </h3>
    </div>
    <div class="product-content">
        <div class="product-image" *ngIf="product.imageId">
            <app-file [file]="app.fileById(product.imageId)"></app-file>
        </div>
        <div class="product-files" *ngIf="product.files && product.files.length">
            <app-file-slider [fileIds]="product.files" [items]="1"></app-file-slider>
        </div>
        <div class="product-description"
             *ngIf="product.type !== 'individual' && product.description && product.description !== product.name">
            <p>{{product.description}}</p>
        </div>
        <div class="product-description"
             *ngIf="product.type === 'individual' && product.description && product.description !== product.name">
            <p>{{app.text(product.description, 'shop')}}</p>
        </div>
        <div class="product-description-long" *ngIf="product.longDescription">
            <button class="more-button" (click)="longDescription = !longDescription"
                    [ngClass]="{active:(longDescription)}">{{app.text('read_more', 'shop')}}</button>
            <p *ngIf="longDescription">{{product.longDescription}}</p>
        </div>
        <div class="product-barcode" *ngIf="barcode">
            <app-barcode-generator *ngIf="product.itemNumber" [code]="product.itemNumber"
                                   [download]="true"></app-barcode-generator>
        </div>
    </div>
    <div class="product-footer">
        <div class="product-price">
            <h4>{{product.price}}</h4>
        </div>
        <button *ngIf="cart" class="cart-button" (click)="shop.addToCart(product, 1)">
            {{app.text('add_to_cart', 'shop')}}
        </button>
    </div>
</div>
