<div class="horizontal-flex full-height" *ngIf="shop.ready && !shop.loading">
    <app-mobile-navigation class="full-width" [items]="[
    {name: 'product_types' ,  visible:true},
    {name: 'product_categories' ,  visible:true},
    {name: 'product_groups' , visible:true}
    ]"></app-mobile-navigation>
    <div class="article full mobile-tab-content"
         [ngClass]="{'mobile-active':(app.currentMobileTab === 'product_types')}">
        <div class="article-title">
            <span>{{app.text('product_types', 'shop')}}</span>
            <div class="horizontal-flex flex-item flex-end">
                <button class="new-button" (click)="shop.initSelection(); shop.newProductType()"
                        [ngClass]="{active:(shop.currentProductType && !shop.currentProductType.id)}"
                >
                    {{app.text('new', 'shop')}}
                </button>
                <app-mobile-navigation [closeButton]="true"></app-mobile-navigation>
            </div>
        </div>
        <div class="article-content">
            <div class="list-selection" *ngIf="app.data.table('product-type').length">
                <div class="list-item"
                     (click)="selectedType = null; selectType()"
                     [ngClass]="{active:(selectedType == null)}">
                    {{app.text('all_types', 'shop')}}
                </div>
                <div class="list-item" *ngFor="let type of app.data.table('product-type')"
                     (click)="selectType(type)"
                     (dblclick)="shop.initSelection(); shop.currentProductType = type;"
                     [ngClass]="{active:(selectedType == type)}">
                    <div><span>{{(type.name || type.id)}}</span></div>
                    <button class="delete-button" (click)="shop.removeProductType(type)">
                        {{app.text('delete', 'shop')}}
                    </button>
                </div>
            </div>
            <div class="info-box" *ngIf="!app.data.table('product-type').length">
                <b><i>{{app.text('no_product_types', 'shop')}}</i></b>
                <button (click)="shop.initSelection(); shop.newProductType()"
                        [ngClass]="{active:(shop.currentProductType && !shop.currentProductType.id)}"
                >
                    {{app.text('new_product_type', 'shop')}}
                    <div class="icon-new"></div>
                </button>
            </div>
        </div>
    </div>
    <div class="article full mobile-tab-content"
         [ngClass]="{'mobile-active':(app.currentMobileTab === 'product_categories')}">
        <div class="article-title">
            <span>{{app.text('product_categories', 'shop')}}</span>
            <div class="horizontal-flex flex-item flex-end">
                <button class="new-button" (click)="shop.initSelection(); shop.newProductCategory()"
                        [ngClass]="{active:(shop.currentProductCategory && !shop.currentProductCategory.id)}"
                >
                    {{app.text('new', 'shop')}}
                </button>
                <app-mobile-navigation [closeButton]="true"></app-mobile-navigation>
            </div>
        </div>
        <div class="article-content">
            <div class="list-selection" *ngIf="app.data.table('product-category').length">
                <div class="list-item"
                     (click)="selectedCategory = null; selectCategory()"
                     [ngClass]="{active:(selectedCategory == null)}">
                    {{app.text('all_categories', 'shop')}}
                </div>
                <div class="list-item" *ngFor="let category of app.data.table('product-category')"
                     (click)="selectCategory(category)"
                     (dblclick)="shop.initSelection(); shop.currentProductCategory = category;"
                     [ngClass]="{active:(selectedCategory == category)}">
                    <div><span>{{(category.name || category.id)}}</span></div>
                    <button class="delete-button" (click)="shop.removeProductCategory(category)">
                        {{app.text('delete', 'shop')}}
                    </button>
                </div>
            </div>
            <div class="info-box" *ngIf="!app.data.table('product-category').length">
                <b><i>{{app.text('no_product_categories', 'shop')}}</i></b>
                <button (click)="shop.initSelection(); shop.newProductCategory()"
                        [ngClass]="{active:(shop.currentProductCategory && !shop.currentProductCategory.id)}"
                >
                    {{app.text('new_product_category', 'shop')}}
                    <div class="icon-new"></div>
                </button>
            </div>
        </div>
    </div>
    <div class="article full mobile-tab-content"
         [ngClass]="{'mobile-active':(app.currentMobileTab === 'product_groups')}">
        <div class="article-title">
            <span>{{app.text('product_groups', 'shop')}}</span>
            <div class="horizontal-flex flex-item flex-end">
                <button class="new-button" (click)="shop.initSelection(); shop.newProductGroup()"
                        [ngClass]="{active:(shop.currentProductGroup && !shop.currentProductGroup.id)}"
                >
                    {{app.text('new', 'shop')}}
                </button>
                <app-mobile-navigation [closeButton]="true"></app-mobile-navigation>
            </div>
        </div>
        <div class="article-content">
            <div class="list-selection" *ngIf="app.data.table('product-group').length">
                <div class="list-item"
                     (click)="selectedGroup = null; selectGroup()"
                     [ngClass]="{active:(selectedGroup == null)}">
                    {{app.text('all_groups', 'shop')}}
                </div>
                <div class="list-item" *ngFor="let group of app.data.table('product-group')"
                     (click)="selectGroup(group)" (dblclick)="shop.initSelection(); shop.currentProductGroup = group;"
                     [ngClass]="{active:(selectedGroup == group)}">
                    <div><span> {{(group.name || group.id)}}</span></div>
                    <button class="delete-button" (click)="shop.removeProductGroup(group)">
                        {{app.text('delete', 'shop')}}
                    </button>
                </div>
            </div>
            <div class="info-box" *ngIf="!app.data.table('product-group').length">
                <b><i>{{app.text('no_product_groups', 'shop')}}</i></b>
                <button (click)="shop.initSelection(); shop.newProductGroup()"
                        [ngClass]="{active:(shop.currentProductGroup && !shop.currentProductGroup.id)}"
                >
                    {{app.text('new_product_group', 'shop')}}
                    <div class="icon-new"></div>
                </button>
            </div>
        </div>
    </div>
    <div class="article full flex-item">
        <div class="article-title">
            <span>{{app.text('products', 'shop')}}</span>
            <div class="horizontal-flex flex-item flex-end">
                <button class="config-button" (click)="app.showPage('shop', 'configuration')">
                    {{app.text('configuration', 'shop')}}
                </button>
                <button class="show-button" (click)="toggleLayout()"
                        [ngClass]="{active:(productLayout === 'products')}">
                    {{app.text('products', 'shop')}}
                </button>
                <button class="new-button" (click)="shop.initSelection(); shop.newProduct()"
                        [ngClass]="{active:(shop.currentProduct && !shop.currentProduct.id)}"
                >
                    {{app.text('new', 'shop')}}
                </button>
            </div>
        </div>
        <div class="article-content" *ngIf="products && products.length && productLayout === 'list'">
            <app-data-selection [fileCategory]="'shop'" [fileSubCategory]="'product'" [tableName]="'product'"
                                [data]="products"
                                [fixedData]="true"
                                [fieldOptions]="{

        typeId: {name: 'product_type', type: 'select', tableName: 'product-type'},
        categoryId: {name: 'product_category', type: 'select', tableName: 'product-category'},
        groupIds: {name: 'product_group', type: 'multi-select', tableName: 'product-group', nameKey: 'name'},
        manufacturerId: {name: 'manufacturer', type: 'select', tableName: 'manufacturer'},
        currencyId: {name: 'currency', type: 'select', tableName: 'currency'},
        discountId: {name: 'discount', type: 'select', tableName: 'discount'},
        shippingIds: {name: 'shipping', type: 'multi-select', tableName: 'shipping', nameKey: 'name'},
        taxId: {name: 'tax', type: 'select', tableName: 'tax'},
        available: { type: 'checkbox'},
        cashRegister: { type: 'checkbox'},
        onlineShop: { type: 'checkbox'}
      }"
                                [hiddenFields]="['id', 'alias', 'type', 'itemNumber', 'taxId',  'discountId', 'manufacturerId', 'currencyId', 'description', 'longDescription', 'shippingIds']"
                                [show]="app.currentElement"
                                [edit]="shop.currentProduct"
                                (onAddData)="addNewData($event)"
                                (onEntryShow)="shop.initSelection(); showProd($event)"
                                (onEntryEdit)="shop.initSelection(); shop.currentProduct = $event;"

            ></app-data-selection>
        </div>
        <div class="article-content" *ngIf="products && products.length && productLayout === 'products'">
            <app-product-list [products]="products"></app-product-list>
        </div>
        <div class="article-content" *ngIf="!products || !products.length">
            <div class="info-box">
                <b><i>{{app.text('no_products_available_for_selection', 'shop')}}</i></b>
                <button (click)="shop.initSelection(); shop.newProduct()"
                        [ngClass]="{active:(shop.currentProduct && !shop.currentProduct.id)}"
                >
                    {{app.text('new_product', 'shop')}}
                    <div class="icon-new"></div>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="popup-overlay layout-{{app.popupLayout}}"
     [ngClass]="{active:(shop.currentProduct && !shop.newProductValue)}">
    <div class="popup-container" *ngIf="shop.currentProduct && !shop.newProductValue">
        <div class="popup-header">
            <h3>{{app.text('product', 'shop')}}</h3>
            <app-popup-options></app-popup-options>
            <button class="close-button" (click)="shop.currentProduct = null"></button>
        </div>
        <div class="popup-content">
            <app-data-editor [autoSave]="true" [data]="shop.currentProduct" [fieldOptions]="{
        typeId: {name: 'product_type', type: 'select', tableName: 'product-type'},
        categoryId: {name: 'product_category', type: 'select', tableName: 'product-category'},
        groupIds: {name: 'product_group', type: 'multi-select', tableName: 'product-group', nameKey: 'name'},
        manufacturerId: {name: 'manufacturer', type: 'select', tableName: 'manufacturer'},
        currencyId: {name: 'currency', type: 'select', tableName: 'currency'},
        discountId: {name: 'discount', type: 'select', tableName: 'discount'},
        shippingIds: {name: 'shipping', type: 'multi-select', tableName: 'shipping', nameKey: 'name'},
        taxId: {name: 'tax', type: 'select', tableName: 'tax'},
        available: { type: 'checkbox'},
        cashRegister: { type: 'checkbox'},
        onlineShop: { type: 'checkbox'}
      }"
                             (onAddData)="addNewData($event)"
            ></app-data-editor>
        </div>
        <div class="popup-footer">
            <button class="save-button"
                    (click)="shop.updateOrAddProduct(shop.currentProduct); shop.initSelection();"
                    [ngClass]="{inactive:(shop.updating)}">{{app.text('save', 'shop')}}
            </button>
        </div>
    </div>
</div>

<div class="popup-overlay layout-{{app.popupLayout}}"
     [ngClass]="{active:(app.currentElement)}">
    <div class="popup-container" *ngIf="app.currentElement">
        <div class="popup-header">
            <h3>{{app.text('product', 'shop')}}</h3>
            <app-popup-options></app-popup-options>
            <button class="close-button" (click)="app.currentElement = null">
                {{app.text('close', 'shop')}}
            </button>
        </div>
        <div class="popup-content">
            <app-product [layout]="'full'" [product]="app.currentElement" [edit]="true"
                         [cart]="false"></app-product>
        </div>
        <div class="popup-footer">
            <button class="edit-button"
                    (click)="shop.currentProduct = app.currentElement; app.currentElement = null;"
                    [ngClass]="{inactive:(shop.updating)}">{{app.text('edit', 'shop')}}
            </button>
        </div>
    </div>
</div>

<div class="popup-overlay layout-{{app.popupLayout}}" [ngClass]="{active:(shop.currentProductType)}">
    <div class="popup-container" *ngIf="shop.currentProductType">
        <div class="popup-header">
            <h3>{{app.text('product_type', 'shop')}}</h3>
            <app-popup-options></app-popup-options>
            <button class="close-button"
                    (click)="shop.currentProductType = null; shop.newProductValue = false; selectedType = null;">
                {{app.text('close', 'shop')}}
            </button>
        </div>
        <div class="popup-content">
            <app-data-editor [fileCategory]="'shop'" [fileSubCategory]="'product-type'" [hiddenFields]="['type']"
                             [autoSave]="true" [data]="shop.currentProductType"></app-data-editor>
        </div>
        <div class="popup-footer">
            <button class="save-button"
                    (click)="shop.updateOrAddProductType(shop.currentProductType); selectType(shop.currentProductType); shop.currentProductType = null; "
                    [ngClass]="{inactive:(shop.updating)}">{{app.text('save', 'shop')}}
            </button>
        </div>
    </div>
</div>

<div class="popup-overlay layout-{{app.popupLayout}}" [ngClass]="{active:(shop.currentProductCategory)}">
    <div class="popup-container" *ngIf="shop.currentProductCategory">
        <div class="popup-header">
            <h3>{{app.text('product_category', 'shop')}}</h3>
            <app-popup-options></app-popup-options>
            <button class="close-button"
                    (click)="shop.currentProductCategory = null; shop.newProductValue = false; selectedCategory = null;">
                {{app.text('close', 'shop')}}
            </button>
        </div>
        <div class="popup-content">
            <app-data-editor [fileCategory]="'shop'" [fileSubCategory]="'product-category'" [hiddenFields]="['type']"
                             [autoSave]="true" [data]="shop.currentProductCategory"></app-data-editor>
        </div>
        <div class="popup-footer">
            <button class="save-button"
                    (click)="shop.updateOrAddProductCategory(shop.currentProductCategory); selectCategory(shop.currentProductCategory); shop.currentProductCategory = null; "
                    [ngClass]="{inactive:(shop.updating)}">{{app.text('save', 'shop')}}
            </button>
        </div>
    </div>
</div>

<div class="popup-overlay layout-{{app.popupLayout}}" [ngClass]="{active:(shop.currentProductGroup)}">
    <div class="popup-container" *ngIf="shop.currentProductGroup">
        <div class="popup-header">
            <h3>{{app.text('product_group', 'shop')}}</h3>
            <app-popup-options></app-popup-options>
            <button class="close-button"
                    (click)="shop.currentProductGroup = null; shop.newProductValue = false; selectedGroup = null;">
                {{app.text('close', 'shop')}}
            </button>
        </div>
        <div class="popup-content">
            <app-data-editor [fileCategory]="'shop'" [fileSubCategory]="'product-group'" [hiddenFields]="['type']"
                             [autoSave]="true" [data]="shop.currentProductGroup"></app-data-editor>
        </div>
        <div class="popup-footer">
            <button class="save-button"
                    (click)="shop.updateOrAddProductGroup(shop.currentProductGroup); selectGroup(shop.currentProductGroup); shop.initSelection();"
                    [ngClass]="{inactive:(shop.updating)}">{{app.text('save', 'shop')}}
            </button>
        </div>
    </div>
</div>

<div class="popup-overlay layout-{{app.popupLayout}}" [ngClass]="{active:(shop.currentManufacturer)}">
    <div class="popup-container" *ngIf="shop.currentManufacturer">
        <div class="popup-header">
            <h3>{{app.text('manufacturer', 'shop')}}</h3>
            <app-popup-options></app-popup-options>
            <button class="close-button"
                    (click)="shop.currentManufacturer = null; shop.newProductValue = false;">
                {{app.text('close', 'shop')}}
            </button>
        </div>
        <div class="popup-content">
            <app-data-editor [fileCategory]="'shop'" [fileSubCategory]="'manufacturer'" [hiddenFields]="['type']"
                             [autoSave]="true" [data]="shop.currentManufacturer"></app-data-editor>
        </div>
        <div class="popup-footer">
            <button class="save-button"
                    (click)="shop.updateOrAddManufacturer(shop.currentManufacturer); shop.currentManufacturer = null;"
                    [ngClass]="{inactive:(shop.updating)}">{{app.text('save', 'shop')}}
            </button>
        </div>
    </div>
</div>


<div class="popup-overlay layout-{{app.popupLayout}}" [ngClass]="{active:(shop.currentCurrency)}">
    <div class="popup-container" *ngIf="shop.currentCurrency">
        <div class="popup-header">
            <h3>{{app.text('currency', 'shop')}}</h3>
            <app-popup-options></app-popup-options>
            <button class="close-button" (click)="shop.currentCurrency = null; shop.newProductValue = false;">
                {{app.text('close', 'shop')}}
            </button>
        </div>
        <div class="popup-content">
            <app-data-editor [fileCategory]="'shop'" [fileSubCategory]="'currency'" [hiddenFields]="['type']"
                             [autoSave]="true" [data]="shop.currentCurrency"></app-data-editor>
        </div>
        <div class="popup-footer">
            <button class="save-button"
                    (click)="shop.updateOrAddCurrency(shop.currentCurrency); shop.currentCurrency = null;"
                    [ngClass]="{inactive:(shop.updating)}">{{app.text('save', 'shop')}}
            </button>
        </div>
    </div>
</div>

<div class="popup-overlay layout-{{app.popupLayout}}" [ngClass]="{active:(shop.currentPayment)}">
    <div class="popup-container" *ngIf="shop.currentPayment">
        <div class="popup-header">
            <h3>{{app.text('payment', 'shop')}}</h3>
            <app-popup-options></app-popup-options>
            <button class="close-button" (click)="shop.currentPayment = null; shop.newProductValue = false;">
                {{app.text('close', 'shop')}}
            </button>
        </div>
        <div class="popup-content">
            <app-data-editor [fileCategory]="'shop'" [fileSubCategory]="'payment'" [hiddenFields]="['type']"
                             [autoSave]="true" [data]="shop.currentPayment"></app-data-editor>
        </div>
        <div class="popup-footer">
            <button class="save-button"
                    (click)="shop.updateOrAddPayment(shop.currentPayment); shop.currentPayment = null;"
                    [ngClass]="{inactive:(shop.updating)}">{{app.text('save', 'shop')}}
            </button>
        </div>
    </div>
</div>

<div class="popup-overlay layout-{{app.popupLayout}}" [ngClass]="{active:(shop.currentShipping)}">
    <div class="popup-container" *ngIf="shop.currentShipping">
        <div class="popup-header">
            <h3>{{app.text('shipping', 'shop')}}</h3>
            <app-popup-options></app-popup-options>
            <button class="close-button" (click)="shop.currentShipping = null; shop.newProductValue = false;">
                {{app.text('close', 'shop')}}
            </button>
        </div>
        <div class="popup-content">
            <app-data-editor [fileCategory]="'shop'" [fileSubCategory]="'shipping'" [hiddenFields]="['type']"
                             [autoSave]="true" [data]="shop.currentShipping"></app-data-editor>
        </div>
        <div class="popup-footer">
            <button class="save-button"
                    (click)="shop.updateOrAddShipping(shop.currentShipping); shop.currentShipping = null;"
                    [ngClass]="{inactive:(shop.updating)}">{{app.text('save', 'shop')}}
            </button>
        </div>
    </div>
</div>

<div class="popup-overlay layout-{{app.popupLayout}}" [ngClass]="{active:(shop.currentTax)}">
    <div class="popup-container" *ngIf="shop.currentTax">
        <div class="popup-header">
            <h3>{{app.text('tax', 'shop')}}</h3>
            <app-popup-options></app-popup-options>
            <button class="close-button" (click)="shop.currentTax = null; shop.newProductValue = false;"></button>
        </div>
        <div class="popup-content">
            <app-data-editor [fileCategory]="'shop'" [fileSubCategory]="'tax'" [hiddenFields]="['type']"
                             [autoSave]="true" [data]="shop.currentTax"></app-data-editor>
        </div>
        <div class="popup-footer">
            <button class="save-button"
                    (click)="shop.updateOrAddTax(shop.currentTax); shop.currentTax = null;"
                    [ngClass]="{inactive:(shop.updating)}">{{app.text('save', 'shop')}}
            </button>
        </div>
    </div>
</div>

<div class="popup-overlay layout-{{app.popupLayout}}" [ngClass]="{active:(shop.currentDiscount)}">
    <div class="popup-container" *ngIf="shop.currentDiscount">
        <div class="popup-header">
            <h3>{{app.text('discount', 'shop')}}</h3>
            <app-popup-options></app-popup-options>
            <button class="close-button" (click)="shop.currentDiscount = null; shop.newProductValue = false;"></button>
        </div>
        <div class="popup-content">
            <app-data-editor [fileCategory]="'shop'" [fileSubCategory]="'discount'" [hiddenFields]="['type']"
                             [autoSave]="true" [data]="shop.currentDiscount"></app-data-editor>
        </div>
        <div class="popup-footer">
            <button class="save-button"
                    (click)="shop.updateOrAddDiscount(shop.currentDiscount); shop.currentDiscount = null;"
                    [ngClass]="{inactive:(shop.updating)}">{{app.text('save', 'shop')}}
            </button>
        </div>
    </div>
</div>
