<div class="cash-register-barcode horizontal-flex full-height">
    <div class="article full flex-item">
        <div class="article-title">
            <span>{{app.text('barcode_scanner', 'shop')}}</span>
        </div>
        <div class="article-content">
            <app-barcode-scanner (onStart)="shop.previewProduct = null" (onDetect)="shop.onDetectBarcode($event)"
                                 #scannerComponent></app-barcode-scanner>
            <app-barcode-data *ngIf="shop.barcodes" [data]="shop.barcodes"></app-barcode-data>
        </div>
    </div>
</div>

<div class="popup-overlay layout-{{app.popupLayout}}"
     [ngClass]="{active:(shop.previewProduct)}">
    <div class="popup-container" *ngIf="shop.previewProduct">
        <div class="popup-header">
            <h3>{{app.text('product', 'shop')}}</h3>
            <app-popup-options></app-popup-options>
            <button class="close-button" (click)="shop.previewProduct = null">
                {{app.text('close', 'shop')}}
            </button>
        </div>
        <div class="popup-content">
            <app-product [layout]="'full'" [product]="shop.previewProduct" [edit]="true"
                         [cart]="false"></app-product>
        </div>
        <div class="popup-footer">
            <button class="flex-item" [ngClass]="{active:(scannerComponent.scanning)}"
                    (click)="scannerComponent.startScan(); shop.previewProduct = null">
                <div class="icon-start-camera"></div>
                <div>
                    {{app.text('scan_barcode', 'backend')}}
                </div>
                <div class="icon-barcode"></div>
            </button>
        </div>
    </div>
</div>
